:root {
  --background: #16161a;
  --button: #7f5af0;
  --headline: #fffffe;
  --button-text: #fffffe;
  --paragraph: #94a1b2;
  --main: #fffffe;
  --highlight: #7f5af0;
  --stroke: #010101;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter Tight, sans-serif;
}
