.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.empty {
  text-align: center;

  a {
    margin-left: 10px;
    color: var(--highlight);
  }
}
