.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--main);

  .main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .header {
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 20px;

    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .username {
      font-weight: 500;
    }
  }

  .main {
    padding: 0px 30px;
    flex: 1;
  }
}
